<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <title>Add Thread</title>
</head>
<body>

    <div class="container mt-4">
        <h2 class="text-center mt-4 mb-4">New Thread</h2>

        <form th:action="@{/add}" th:object="${thread}" method="post">
            <div class="form-group">
                <label for="title">Thread Title:</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>

            <input type="hidden" id="startDay" name="startDay" th:value="${T(java.time.LocalDateTime).now()}">

            <div class="form-group">
                <label for="category">Category:</label>
                <select id="category" name="category" class="form-control">
                    <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
                </select>
            </div>

            <button class="btn btn-primary" type="submit">Add Thread</button>
        </form>
    </div>

</body>
</html>
