<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <title>Comment List</title>
</head>
<body>
    <h2>Kommentit lankaan: <span th:text="${thread.title}"></span></h2>
    
    <div th:each="comment : ${comments}">
        <div>
            <p><strong>Content:</strong> <span th:text="${comment.content}"></span></p>
            <p><strong>Message Time</strong> <span th:text="${#temporals.format(comment.messageTime, 'yyyy-MM-dd')} + ' klo ' + ${#temporals.format(comment.messageTime, 'HH:mm:ss')}">Päivämäärä ja aika</span></p>
            
        </div>
        <hr>
    </div>
    
</body>
</html>
