<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <title>Edit Comment</title>
</head>
<body>
    <h2>Edit Comment</h2>
    <form action="/editComment" method="post">
        <input type="hidden" name="id" th:value="${messageId}">
        <label for="content">Comment:</label><br>
        <textarea id="content" name="content" rows="4" cols="50" th:text="${comment.content}"></textarea><br><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>
