<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muokkaa viestiä</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h2 class="text-center">Muokkaa viestiä</h2>
        <form action="@{/update/{id}(id=${comment.messageId})}" method="post" th:action="@{/update/{id}(id=${comment.messageId})}" th:object="${message}">
            <input type="hidden" name="id" th:value="${message.messageId}">
            <div class="form-group">
                <label for="content">Viesti:</label>
                <textarea id="content" name="content" rows="10" cols="100" th:text="${comment.content}" class="form-control" required></textarea>
                <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </form>
    </div>
</body>
</html>
