<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

    <div class="container mt-4">
        <h1 class="text-center mb-4">Kaikki viestiketjut</h1>

        <div th:each="thread : ${threads}" class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><a th:href="@{'/thread/' + ${thread.id} + '/comments'}" th:text="${thread.title}">Thread Title</a></h5>
                <p class="card-text">
                    <span>Date Created: </span>
                    <span th:text="${#temporals.format(thread.startDay, 'dd.MM.yyyy HH:mm:ss')}"></span>
                    <span> | Messages: </span>
                    <span th:text="${thread.messages.size()}"></span>

                    <span> | Created by: (findUserById -> username) |</span>
                    <a th:href="@{'/category/' + ${thread.category.categoryId}}" th:text="${thread.category.name} ?: ''">Category</a>
                </p>
            </div>

        </div>
        <a th:href="@{/matka}" class="btn btn-danger">Takaisin Forumiin</a>

    </div>
</body>
</html>
