<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

    <div class="container mt-4">
        <h1 class="text-center mb-4">Matkailuforum</h1>

        <div th:each="category : ${categories}" class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a th:href="@{'/category/' + ${category.categoryId}}" th:text="${category.name}">Thread Title</a>
                </h5>
                <span th:text="${category.description}">Thread Desc</span>
                <p><strong>Threads:</strong> <span th:text="${category.threads.size()}"></span></p>
            </div>
        </div>
        <a th:href="@{/threads}" class="btn btn-danger">Kaikki ketjut</a>

    </div>
</body>
</html>
