<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ketjun viestit</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <script th:inline="javascript">
        function confirmDelete() {
            if (confirm("Haluatko varmasti poistaa tämän?")) {
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>

<body>

    <div class="container mt-4">


        <h1 class="text-center mb-4" th:text="${thread.title}"></h1>


        <div class="card mb-3">



            <div class="card-body">


                <div th:each="comment : ${comments}">
                    <div class="border-bottom mb-3">
                        <p>
                            <strong><span th:text="${comment?.user?.username}"></span></strong> | Aika: <span
                                th:text="${#temporals.format(comment.messageTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            <strong>
                                <span th:if="${comment.modifiedTime != null}"> | Muokattu: </span>
                                <span th:if="${comment.modifiedTime != null}"
                                    th:text="${#temporals.format(comment.modifiedTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            </strong>
                        </p>

                        <p th:text="${comment.content}"></p>

                        <th:block
                            th:if="${comment.user.username == loggedInUsername or #lists.contains(authorities, 'ADMIN')}">
                            <a th:href="@{/deletemessage/{id}(id=${comment.messageId})}" class="btn btn-danger btn-sm"
                                onClick="return confirmDelete()">Poista viesti</a>
                            <a th:href="@{/edit/{id}(id=${comment.messageId})}" class="btn btn-primary btn-sm">Muokkaa</a>
                        </th:block>


                    </div>


                </div>
                <div th:if="${param.editend}" class="alert alert-danger" role="alert">
                    Muokkausaika on päättynyt.
                    <div>
                    </div>

                </div>

                <div class="card mb-3">

                    <div class="card-body">
                        <h5 class="card-title">Lisää kommentti</h5>
                        <form th:action="@{/saveComment}" method="post">
                            <input type="hidden" name="id" th:value="${id}" />
                            <div class="form-group">
                                <label for="content">Kommentti:</label>
                                <textarea class="form-control" id="content" name="content" rows="8" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Vastaa</button>
                        </form>

                    </div>

                </div>
                <a th:href="@{/etusivu}" class="btn btn-success">Takaisin Forumiin</a>



            </div>

</body>

</html>