<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Messages</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="container">
    
    <h1> <span th:text="${#strings.isEmpty(username) ? 'Guest' : username}">Guest</span> - viestit</h1>
    
    <table class="table">
        <thead>
            <tr>                
                <th>Ketjun otsikko</th>
                <th>Viesti</th>
                <th>Aika</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messages}">
                <td><a th:href="@{'/thread/' + ${message.ForumThread.id} + '/comments'}" th:text="${message.ForumThread.title}">Thread Title</a></td>
                <td th:text="${message.content}">Sisältö</td>
                <td th:text="${#temporals.format(message.messageTime, 'dd.MM.yyyy HH:mm:ss')}">Viestin aika</td>

            </tr>
        </tbody>
    </table>
    <a th:href="@{/etusivu}" class="btn btn-success">Takaisin Forumiin</a>

    
   
</body>
</html>
